@keyframes waves {
  0%,
  50% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(1.5);
  }
}

@keyframes appearFromRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.player {
  background: var(--orange-solid);
  color: var(--white-solid);
  height: 100vh;
  width: 26.5rem;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  position: fixed;
  right: 0;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    .playing {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  .waves {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.15rem;

    span {
      display: inline-block;
      background-color: var(--white-solid);
      width: 0.2rem;
      height: 0.75rem;
      border-radius: 2px;
      animation: waves 0.85s linear infinite;
    }

    .w1 {
      animation-delay: 0s;
      height: 0.5rem;
    }
    .w2 {
      animation-delay: 0.2s;
      height: 0.25rem;
    }
    .w3 {
      animation-delay: 0.4s;
      height: 1.05rem;
    }
    .w4 {
      animation-delay: 0.6s;
      height: 1.5rem;
    }
    .w5 {
      animation-delay: 0.8s;
    }
    .w6 {
      animation-delay: 1s;
      height: 0.25rem;
    }
    .w7 {
      animation-delay: 1.2s;
      height: 0.5rem;
    }
    .w8 {
      animation-delay: 1.4s;
      height: 0.25rem;
    }
    .w9 {
      animation-delay: 1.6s;
      height: 1.05rem;
    }
    .w10 {
      animation-delay: 1.8s;
      height: 1.5rem;
    }
    .w11 {
      animation-delay: 0.8s;
    }
    .w12 {
      animation-delay: 1s;
      height: 0.25rem;
    }
  }

  footer {
    align-self: stretch;
  }
}

.emptyPlayer {
  animation: appearFromRight 1s;
  background: var(--podcast-image-selected-box-gradient);
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  padding: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 90%;
    font-weight: 400;
  }
}

.progress {
  opacity: 0.5;
  animation: appearFromRight 1s;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.875rem;

  span {
    display: inline-block;
    width: 2rem;
    text-align: center;
    font-weight: 300;
  }

  .slider {
    flex: 1;

    .emptySlider {
      width: 100%;
      height: 0.25rem;
      background: var(--white-solid);
      border-radius: 2px;
    }
  }
}

.buttons {
  opacity: 0.5;
  animation: appearFromRight 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 1rem 0;
  height: 2rem;
  gap: 1.5rem;

  button {
    background: transparent;
    font-size: 0;
    transition: all 0.4s ease;
    width: 2rem;
    height: 2rem;

    img {
      cursor: url("/assets/cursor/pointer.svg"), auto;
    }

    &.playButton {
      width: 4rem;
      height: 4rem;
      border-radius: 1rem;
      background: var(--pause-and-play-button-gradient);
      transition: all 0.4s ease;

      &:hover {
        border-radius: 2rem;
      }
    }

    &:hover {
      transform: scale(1.15);
    }
  }
}
